wifi:
  networks:
  - ssid: "your ssid"
    password: "your password"
  - ssid: "different ssid (can be ommited)"
    password: "another ssid password"
# Enable fallback hotspot (captive portal) in case wifi connection fails 
  ap:
    ssid: "ssid name for this Fallback Hotspot"
    password: "password for this ssid fallback"